{{ define "main" }}
{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
{{ $filtered := ($pages | intersect $notHidden) }}
{{ $pag := .Paginate ($filtered) }}

<!-- 首页欢迎横幅-->
<div class="welcome">
    <p style="font-size: 2rem; text-align: center; font-weight: bold;">
        <span class="shake">👋</span>
        <span class="jump-text2">Welcome</span>
        <span class="jump-text3"> To </span>
        <span class="jump-text4">E</span><span class="jump-text5">u</span><span class="jump-text6">r</span><span class="jump-text7">e</span><span class="jump-text8">k</span><span class="jump-text9">a</span><span class="jump-text10">'s</span>
        <span class="jump-text11">Blog</span>
    </p>
</div>
<!-- 首页欢迎横幅 -->

<section class="article-list">
    {{ range $index, $element := $pag.Pages }}
    {{ partial "article-list/default" . }}
    {{ end }}
</section>

{{- partial "pagination.html" . -}}
{{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
{{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}